<div class="container-fluid">
  <div class="row justify-content-center">
      <p>
        <strong>Content:</strong>
        <%= @comment.content %>
      </p>

      <p>
        <strong>Article:</strong>
        <%= @comment.article_id %>
      </p>
    </div>
    </div>

    <% if @comment.user == current_user %>
        <%= link_to 'Edit', edit_article_path(@comment), class: "btn btn-primary" %> |
        <%= link_to 'Back', articles_path, class: "btn btn-primary" %>
    <% end %>
