
<p>
  <strong>Name:</strong>
  <%= @subscriber.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @subscriber.email %>
</p>

<% if @article.user == current_user %>
    <%= link_to 'Edit', edit_subscriber_path(@article), class: "btn btn-primary" %> |
    <%= link_to 'Back', subscribers_path, class: "btn btn-primary" %>
<% end %>
