<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<% if @article.user == current_user %>
      <%= link_to 'Edit', edit_category_path(@article), class: "btn btn-primary" %> |
      <%= link_to 'Back', categories_path, class: "btn btn-primary" %>
<% end %>
