<div class="site-footer">
<div class="container">
<div class="row mb-5">
    <div class="col-md-3 ml-auto">
      <!-- <h3 class="footer-heading mb-4">Navigation</h3> -->
      <ul class="list-unstyled float-left mr-5">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Advertise</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Subscribes</a></li>
      </ul>
    </div>
  </div>
    <div class="row">
    <div class="col-12 text-center">
    <p>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    </p>
    </div>
    </div>
  </div>
</div>
