<div class="site-footer">
<div class="container">
<div class="row">
    <div class="col-12">
      <!-- <h3 class="footer-heading mb-4">Navigation</h3> -->
      <ul class="list-unstyled">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Advertise</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Subscribes</a></li>
      </ul>
    </div>
  </div>
  </div>
</div>
