<div id="banner" style= "background-image: url('/assets/img_10.jpg')";>
  <div class="text-center text-bold">
  <br><br><br><br><br>
  <h1 style="font-size: 6em;
  font-weight: 700; ">My Blog</h1>
  <h5 style="font-size: 1.5em;
  font-weight: 400;">Bloging is giving your opinion on the web. This is mine...</h5>
  <br><br><br><br><br>
  </div>
</div>
